In [15]:
from chart_ipynb import utils
from chart_ipynb.chart_framework import ChartSuperClass
import numpy as np
import pandas as pd
import pandas_datareader
import pandas_datareader.data as web
import datetime
import time

In [2]:
api_key = '1JFowowyzc-FnajAsDkY'
start = datetime.datetime(2017,1,1)
end = datetime.datetime(2018,1,1)
aapl = web.DataReader('AAPL',"quandl", start, end, api_key = api_key)
amzn = web.DataReader('AMZN',"quandl", start, end, api_key = api_key)
googl = web.DataReader('GOOGL',"quandl", start, end, api_key = api_key)

In [95]:
aapl.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-12-29,170.52,170.590,169.220,169.23,25643711.0,0.0,1.0,170.52,170.590,169.220,169.23,25643711.0
2017-12-28,171.00,171.850,170.480,171.08,15997739.0,0.0,1.0,171.00,171.850,170.480,171.08,15997739.0
2017-12-27,170.10,170.780,169.710,170.60,21672062.0,0.0,1.0,170.10,170.780,169.710,170.60,21672062.0
2017-12-26,170.80,171.470,169.679,170.57,32968167.0,0.0,1.0,170.80,171.470,169.679,170.57,32968167.0
2017-12-22,174.68,175.424,174.500,175.01,16052615.0,0.0,1.0,174.68,175.424,174.500,175.01,16052615.0

In [94]:
amzn.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-12-29,1182.35,1184.00,1167.50,1169.47,2625283.0,0.0,1.0,1182.35,1184.00,1167.50,1169.47,2625283.0
2017-12-28,1189.00,1190.10,1184.38,1186.10,1803460.0,0.0,1.0,1189.00,1190.10,1184.38,1186.10,1803460.0
2017-12-27,1179.91,1187.29,1175.61,1182.26,1779382.0,0.0,1.0,1179.91,1187.29,1175.61,1182.26,1779382.0
2017-12-26,1168.36,1178.32,1160.55,1176.76,1964871.0,0.0,1.0,1168.36,1178.32,1160.55,1176.76,1964871.0
2017-12-22,1172.08,1174.62,1167.83,1168.36,1553997.0,0.0,1.0,1172.08,1174.62,1167.83,1168.36,1553997.0

In [96]:
googl.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2017-12-29,1055.49,1058.05,1052.70,1053.40,1156357.0,0.0,1.0,1055.49,1058.05,1052.70,1053.40,1156357.0
2017-12-28,1062.25,1064.84,1053.38,1055.95,982285.0,0.0,1.0,1062.25,1064.84,1053.38,1055.95,982285.0
2017-12-27,1066.60,1068.27,1058.38,1060.20,1027634.0,0.0,1.0,1066.60,1068.27,1058.38,1060.20,1027634.0
2017-12-26,1068.64,1068.86,1058.64,1065.85,914574.0,0.0,1.0,1068.64,1068.86,1058.64,1065.85,914574.0
2017-12-22,1070.00,1071.72,1067.64,1068.86,860800.0,0.0,1.0,1070.00,1071.72,1067.64,1068.86,860800.0

In [3]:
col = 'Close'
aapl_col = aapl[col]
amzn_col = amzn[col]
googl_col = googl[col]

In [74]:
def data_format(dataset, val_col):
    """
    dataset: pd.DataFrame
    val_col: the column name for the target value. e.g 'Close'
    """
    data = dataset[val_col]
    idx_reset_df = dataset.reset_index()
    if 'Date' not in idx_reset_df.columns:
        return 'please rename the date columns to "Date"'
    sort_df = idx_reset_df.sort_values(by='Date')
    sort_df['Date']=sort_df['Date'].astype(str)
    return  list(sort_df[val_col]), list(sort_df['Date'])

In [47]:
# df1 = aapl_col.reset_index().rename(columns={'Date':'t',"Close": "y"})
# df1 = df1.sort_values(by='t')
# df1['t']=df1['t'].apply(lambda x: int(time.mktime(x.timetuple())*1000))
# df1['t']=df1['t'].astype(str)
# data1 = df1.to_dict('r')
# val1 = list(df1['y'])
# label1 = list(df1['t'])

In [75]:
aapl_val, aapl_label = data_format(aapl, 'Close')
amzn_val, amzn_label = data_format(amzn, 'Close')
googl_val, googl_label = data_format(googl, 'Close')

In [77]:
dataset1 = utils.dataset(
                label = 'AAPL',
                backgroundColor = utils.color_rgb('red',0.5),
                borderColor = utils.color_rgb('red'),
                data = aapl_val,
                type = 'line',
                pointRadius = 0,
                fill = False,
                lineTension = 0,
                borderWidth = 2
            )
dataset2 = utils.dataset(
                label = 'AMZN',
                backgroundColor = utils.color_rgb('blue',0.5),
                borderColor = utils.color_rgb('blue'),
                data = amzn_val,
                type = 'line',
                pointRadius = 0,
                fill = False,
                lineTension = 0,
                borderWidth = 2
            )
dataset3 = utils.dataset(
                label = 'GOOGL',
                backgroundColor = utils.color_rgb('green',0.5),
                borderColor = utils.color_rgb('green'),
                data = googl_val,
                type = 'line',
                pointRadius = 0,
                fill = False,
                lineTension = 0,
                borderWidth = 2
            )
data = utils.data(
    labels = aapl_label,
    datasets = [dataset1,dataset2,dataset3]
)

In [97]:
config = utils.config(
        type = 'line',
        data = data,
        options = utils.options(
            animation = {
                'duration': 0
            },
            scales = {
                'xAxes': [{
                    'display':True,
                    'scaleLabel':{
                        'display':True,
                        'labelString':'Date'
                    }
#                     'type': 'time',
#                     'distribution': 'series',
#                     'offset': True,
                    ,'ticks': {
                        'major': {
                            'enabled': True,
                            'fontStyle': 'bold'
                        },
                        'source': 'data',
                        'autoSkip': True,
                        'autoSkipPadding': 10,
                        'maxRotation': 60,
#                         'sampleSize': 100
                    },
#                     afterBuildTicks: function(scale, ticks) {
#                         var majorUnit = scale._majorUnit;
#                         var firstTick = ticks[0];
#                         var i, ilen, val, tick, currMajor, lastMajor;

#                         val = moment(ticks[0].value);
#                         if ((majorUnit === 'minute' && val.second() === 0)
#                                 || (majorUnit === 'hour' && val.minute() === 0)
#                                 || (majorUnit === 'day' && val.hour() === 9)
#                                 || (majorUnit === 'month' && val.date() <= 3 && val.isoWeekday() === 1)
#                                 || (majorUnit === 'year' && val.month() === 0)) {
#                             firstTick.major = true;
#                         } else {
#                             firstTick.major = false;
#                         }
#                         lastMajor = val.get(majorUnit);

#                         for (i = 1, ilen = ticks.length; i < ilen; i++) {
#                             tick = ticks[i];
#                             val = moment(tick.value);
#                             currMajor = val.get(majorUnit);
#                             tick.major = currMajor !== lastMajor;
#                             lastMajor = currMajor;
#                         }
#                         return ticks;
#                     }
                }],
                'yAxes': [{
                    'gridLines': {
                        'drawBorder': False
                    },
                    'scaleLabel': {
                        'display': True,
                        'labelString': 'Closing price ($)'
                    }
                }]
            },
        )
)

In [98]:
line_chart = ChartSuperClass()
line_chart.initialize_chart(width=800, config=config)
line_chart

ChartSuperClass(status='deferring flush until render')